html,body{
  height: 100%;
}

*{
  box-sizing: border-box;
}

.cnf{
  &-container{
    position: absolute;
    min-height: 100%;
    left: 0;
    margin: auto;
    height: auto;
    overflow: hidden;
    &-image{
      width: 100%;
      height: 100%;
    }
    &.lock{
      pointer-events: none;
    }
  }
  &-form{
    &-group{
      width: 33%;
      float: left;
      padding: 0 5px;
    }
  }
  &-settings_panel{
    position: absolute;
    width: 300px;
    button{
      background-color: #76b9dd;
      height: 30px;
      padding: 0 10px;
      border-radius: 3px;
      border: 1px solid #76a0dd;
      box-shadow: none;
    }
    input{
      width: 100%;
    }
  }
  &-images{
    list-style: none;
    padding: 0;

    &-item{
      padding: 0;
      width: 30%;
      margin: 0 1.5%;
      height: 70px;
      float: left;
      margin-bottom: 10px;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &-load{
    &-image{
      display: none;
    }
  }

}